<div class="col-md-12 text-center container">
  

  <div class="col-md-12 row">
      <h2> Formulário de Login</h2>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" novalidate>
      <div>
        <label for="email">E-mail</label>
        <input type="email" id="email" formControlName="email" required class="form-control" placeholder="Digite aqui o seu e-mail...">
      </div>
      <div>
        <label for="password">Senha</label>
        <input type="password" id="password" formControlName="password" required class="form-control">
      </div>
      <div>
        <br>
        <button [disabled]="signInForm.invalid" type="submit" class="btn btn-success">Fazer login</button> 

        <p>Ou se preferir...</p>

        <button routerLink="/auth/signup" class="btn btn-info">Criar conta</button>
      </div>
    </form>
    <p>{{error}}</p>
    <div>
      
    </div>
  </div>
</div>


