<div class="col-md-12-row">
<div class="col-md-12"> 

<form [formGroup]="parentForm" (ngSubmit)="submit()">


    <div class="form-group row">
        <label for="nomeDoLivro" class="col-sm-1 col-form-label">Nome do Livro</label>
    
        <div class="col-sm-11">
            <input type="text" placeholder="Por Favor Digite o Nome do Livro..." formControlName="nomeDoLivro" required class="form-control">
        </div>
    </div>


      <div class="form-group row">
          <label for="descricaoDoLivro" class="col-sm-1 col-form-label">Descrição do Livro</label>
      
          <div class="col-sm-11">
              <textarea placeholder="Por Favor Digite a Descrição do Livro..." formControlName="descricaoDoLivro" required class="form-control"></textarea>
          </div>
      </div>

      <div class="form-group row">
          <label for="autorDoLivro" class="col-sm-1 col-form-label">Autor do Livro</label>
      
          <div class="col-sm-11">
              <input type="text" placeholder="Por Favor Digite o Autor do Livro..." formControlName="autorDoLivro" class="form-control">
          </div>
      </div>

      <div class="form-group row">
          <label for="precoDoLivro" class="col-sm-1 col-form-label">Preço do Livro</label>
      
          <div class="col-sm-11">
              <input type="number" placeholder="Por Favor Digite o Preço do Livro..." formControlName="precoDoLivro" class="form-control">
          </div>
      </div>

      <div class="form-group row">
          <label for="anoDePublicacaoDoLivro" class="col-sm-1 col-form-label">Ano de Publicação</label>
      
          <div class="col-sm-11">
              <input type="number" placeholder="Por Favor Digite o Ano de Publicação do Livro..." formControlName="anoDePublicacaoDoLivro" class="form-control">
          </div>
      </div>

      <div class="form-group row">
          <label for="editoraDoLivro" class="col-sm-1 col-form-label">Editora do Livro</label>
      
          <div class="col-sm-11">
              <input type="text" placeholder="Por Favor Digite a Editora do Livro..." formControlName="editoraDoLivro" class="form-control">
          </div>
      </div>
  <div class="text-center">
    <button [disabled]="parentForm.invalid" class="btn btn-success">Salvar Livro</button>
  </div>
</form>

</div>

</div>



